

<body >

<div class="container">

 <form class="well form-horizontal" action="/form/save/comment " method="POST"  id="contact_form">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Add a Comment to : {{articles}} </legend>
    
    <!-- Text input-->
    
    <div class="form-group">
     

      <input id="Title" name="Title" type="hidden" value="{{articles}}">
      <div class="col-md-12 inputGroupContainer">
      <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input  name="Comment" placeholder="Comment" class="form-control"  type="text">
        </div>
      </div>
    </div>
    
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label"></label>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary" >Add<span class="glyphicon glyphicon-send"></span></button>
      </div>
    </div>
    
    </fieldset>
    </form>


</div>
</body>
